<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
       <center>
        <h1>Data Of YOUR COUNTRY</h1>

    <form id="formC">
        <label for="Country">Country</label>
        
        <input type="text" id="country" name="country" >
        <br><br>
       <button >  <a href="/showCountry">submit</a>
            </button>

    </form>

    <border style="border: 2px solid;">
         <b id="q1">Please Enter USA for America</b><br>
    
    </border>
    
 <border style="border: 2px solid;">
   <b id="w2">Please make sure you entered first letter is capital</b>
    
    </border>
   
    </center>

    <script src="/js/app.js"> </script>
</body>
</html>